<div class="container">
    <div class="row pt-5 mb-5">
        <div class="col-12">
            <div class="logo">
                <img src="assets/img/logos/Move.svg">
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <div class="jumbotron text-center">
                <h3 *ngIf="isActive">¡Tu contraseña ya ha sido cambiada!</h3>
                <label class="username mb-3 mt-3"><b>{{userEmail}}</b></label>
                <form *ngIf="!isActive" [formGroup]="restoreForm" (ngSubmit)="onSubmit()">
                    <div class="row mb-5">
                        <div class="col-md-6 mv-input-group has-label text-left">
                            <label class="title">Nueva contraseña</label>
                            <input class="mv-input-form" type="password"
                                formControlName="contrasena"
                                [ngClass]="{ 'is-invalid': submittedForm && f.contrasena.errors }">
                        </div>
                        <div class="col-md-6 mv-input-group has-label text-left">
                            <label class="title">Repetir contraseña</label>
                            <input class="mv-input-form" type="password"
                                formControlName="contrasenaConfirm"
                                [ngClass]="{ 'is-invalid': submittedForm && f.contrasenaConfirm.errors }">
                        </div>
                    </div>
                    <button type="submit" class="btn-primary">Cambiar contraseña</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <label class="water-mark">Developed by: Sibo Avance S.A.S </label>
        </div>
    </div>
</div>