.filter-container{
    padding: 10px 70px;
    justify-content: center;
}
.summary{
    padding: 0 70px;
    width: 100%;
    justify-content: center;
}

.has-btn{

    display: flex;
    align-items: center;
}

